body{
    background: rgb(213, 252, 252); 
    margin: 0;
}


h1{
    font-weight: bolder;
    font-size: 50px;
}
 .blue-color{
     color: blue;
 }
 .headone{
    border-left: 5px solid rgb(235, 54, 8);
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 15px;
}
 section{
     display: flex;
 }
 .half-width{
     width: 100%;
     padding: 20px;
 }
 .half-width img{
     width: 80%;
 }
 .link-button{
     text-decoration: none;
     /* background-color: rgb(177, 17, 17); */
     background-image: linear-gradient(tomato, red);
     padding: 10px 40px;
     border-radius: 6px;
     color: whitesmoke;
     font-weight: 700;
     
 }
 #sec-header{
     text-align: center;
 }
.illus-img{
    width: 33%;
     padding: 10px; 

 }

 .sec-part{
    background-color: rgb(213, 252, 252);
} 
#mission{
    background-color: rgb(210, 226, 136);
    margin: 25px;
    padding: 50px 15px;
    border-radius: 20px;
}
#vision{
    background-color: rgb(233, 179, 212);
    margin: 25px;
    padding: 50px 15px;
    border-radius: 20px;



}


#goal{
    background-color: rgb(238, 223, 155);
    margin: 25px;
    padding: 50px 15px;
    border-radius: 20px;



}
h2{
    font-size: 35px;
    font-weight: bolder;
}
p{
    font-size: 18px;
}
#fname{
    font-weight: bolder;
    text-align: center;
}
#lname{
    font-weight: bolder;
    text-align: center;
}
#age{
    font-weight: bolder;
    text-align: center;
}
#email{
    font-weight: bolder;
    text-align: center;
}

.footer-p1 h1{
    font-size: 40px;
}
footer{
    text-align: center;
    background-color: rgb(15, 3, 1);
    padding: 40px 0;
}
footer h2{
    color: white;
    font-style: oblique;
    margin-bottom: 30px;
    font-size: 60px;
}
footer h2 span{
    color: rgb(250, 7, 100);
}
footer p{
    color: white;
    font-size:30px ;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-left: 30px;
}
